body {
    font-size: 16px;
    font-family: 'Lato';
    line-height: 1.6;
    background-color: $background-color;
    color: $white;

    //remove this
    //height: 2000px;
}

#content {
    height: 1500px;
    transition: all 0.3s ease;
    @include media-breakpoint-up(lg){
        //margin-top: 120px;
    }
}