$primary-color: #9628a7;
//$background-color: #2e3036;
$background-color: #1a1c22;
$secondary-background-color: lighten(#1a1c22, 5);
$text-color: #818999;

.grey-text {
    color: $text-color;
}

.copy-font-size {
    font-size: 18px;
}