.header {
    background-color: $background-color;

    .header-wrapper {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 1rem;
        transition: padding 0.3s ease;

        .logo-container {
            width: 30%;

            @include media-breakpoint-down(md){
                width: auto;
            }

            .logo {
                h1{
                    text-transform: initial;
                    text-align: center;
                    font-size: 4rem;
                    font-family: 'Bungee';
                    color: $primary-color;
                    margin-bottom: 0;


                    @include media-breakpoint-down(sm){
                        font-size: 3rem;
                    }
                }
            }
        }
    }
}