.hero {
    position: relative;
    background-position: center;
    background-size: cover;
    height: calc(90vh - 142px);

    @include media-breakpoint-down(md){
        height: 90vh;
    }

    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.3);
        box-shadow: inset 0 0 100px #000;
    }

    .hero-heading {
        z-index: 1;
        font-size: 3rem;
        font-family: 'Coda';

        @include media-breakpoint-down(md){
            font-size: 2rem;
        }
    }

    .hero-sub-heading {
        font-size: 1.5rem;
        font-weight: 300;
        z-index: 1;

        @include media-breakpoint-down(md){
            font-size: 1rem;
        }
    }
}

